<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.homerunball.inq.dao.InqDao">
    <select id="count" resultType="int">
        select count(*) from inq
    </select>


    <!-- 선택된 문의게시판에서 글 읽어오기 -->
    <select id="select" parameterType="map" resultType="InqDto">
        select inq.inq_id
             , inq.pd_id
             , inq.c_id
             , inq.inq_title
             , inq.inq_content
             , inq.inq_phn
             , inq.inq_attch_name
             , inq.inq_is_sent
             , inq.inq_is_show
             , inq.inq_is_cmpl
             , inq.inq_dt
             , inq.inq_stat_cd
             , inq.inq_type_cd
             , cust.c_name
        from inq
                 join cust on inq.c_id = cust.c_id
        where inq.inq_id = #{inq_id} and inq.pd_id = #{pd_id}
    </select>

    <!-- 제품상세 페이지에서 전체 가져오기 -->
    <select id="selectAll" parameterType="String" resultType="InqDto">
        select inq.inq_id,
               inq.pd_id,
               inq.c_id,
               inq.inq_title,
               inq.inq_content,
               inq.inq_is_cmpl,
               inq.inq_dt,
               cust.c_name
        from inq
                 join cust on inq.c_id = cust.c_id
        where inq.pd_id = #{pd_id}
        order by inq_id desc
    </select>

    <insert id="insert" parameterType="InqDto">
        insert into inq
            (inq_id, pd_id, c_id, inq_title, inq_content, inq_dt)
        values
            (#{inq_id}, #{pd_id}, #{c_id}, #{inq_title}, #{inq_content}, #{inq_dt})
    </insert>

    <delete id="delete">
        delete from inq where inq_id = #{inq_id} and c_id = #{c_id}
    </delete>

    <delete id="deleteAll">
        delete from inq
    </delete>

    <update id="update" parameterType="InqDto">
        update inq
        set  inq_title = #{inq_title}
          , inq_content = #{inq_content}
          , inq_is_cmpl = #{inq_is_cmpl}
          , inq_dt = #{inq_dt}
        where inq_id = #{inq_id} and c_id = #{c_id}
    </update>


</mapper>