<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.homerunball.review.dao.ReviewDao">

<!--  <select id="selectAllReviews" parameterType="int" resultType="HashMap">-->
<!--        select * from revw where pd_id = #{pd_id};-->
<!--  </select>-->



<!--  전체 게시물 숫자  -->
    <select id="selectCount" resultType="int">
        select count(*)
        from revw
    </select>


<!--  리뷰 게시물 전체 목록 읽기  -->
    <select id="selectAll" parameterType="String" resultType="ReviewDto">
        select r.revw_id,
               r.pd_id,
               r.c_id,
               r.revw_cntn,
               r.revw_attch_name,
               r.revw_dt,
               r.revw_score,
               r.revw_is_reported,
               c.c_name
        from revw r
                 join cust c on r.c_id = c.c_id
        where r.pd_id = #{pd_id}
        order by r.revw_id desc
    </select>

<!--  게시물 seq == param:bno 하나 읽기  -->
  <select id="selectOne" parameterType="map" resultType="ReviewDto">
      select r.revw_id,
             r.pd_id,
             r.c_id,
             r.revw_cntn,
             r.revw_attch_name,
             r.revw_dt,
             r.revw_score,
             r.revw_is_reported,
             c.c_name
      from revw r, cust c
      where r.pd_id = #{pd_id}
        and r.revw_id = #{revw_id}
        and r.c_id = #{c_id}
  </select>


<!--  게시물 작성하기 위한 저장  -->
  <insert id="reviewWriteOne" parameterType="ReviewDto" >
    insert into revw
        (pd_id, c_id, revw_cntn, revw_attch_name, revw_dt, revw_score)
    values
        (#{pd_id}, #{c_id}, #{revw_cntn}, #{revw_attch_name}, now(), #{revw_score})
  </insert>

    <!-- 리뷰 한건 삭제 -->
    <delete id="deleteOne" parameterType="Map" >
        delete from revw where revw_id=#{revw_id} and c_id=#{c_id}
    </delete>

    <!-- 리뷰 전체 삭제  -->
    <delete id="deleteAll">
        delete from revw
    </delete>

    <!-- 리뷰 수정 -->
    <update id="update" parameterType="ReviewDto">
        update revw
        set revw_cntn = #{revw_cntn},
            revw_dt = now()
        where pd_id=#{pd_id} and revw_id = #{revw_id} and c_id = #{c_id}
    </update>



  <!--
C 쓰기 GET, POST  :: 보여주기, 저장하기
      select * from boardtest where seq = ??;
      insert into boardtest (title, username , content) values("", "", "");
R 읽기 GET        :: 읽어오기
      select * from boardtest where seq = ??;
U 수정 GET, PUT   :: 읽어오기, 저장하기
D 삭제 DEL        :: 삭제하기
-->

    <!--  게시물 seq == param:bno 조회수 1 증가  -->
<!--    <update id="increaseViewCount" parameterType="int" >-->
<!--        update boardtest-->
<!--        set viewcount = viewcount+1-->
<!--        where seq = #{0}-->
<!--    </update>-->


</mapper>
